################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/.vs/NiVerDig
/src/NiVerDig/NiVerDig/.vs/NiVerDig
/src/NiVerDig/NiVerDig/x64
/src/NiVerDig/NiVerDig/forms.cpp
/src/NiVerDig/NiVerDig/forms.h
/src/NiVerDig/NiVerDig/NiVerDig.vcxproj.user
/src/NiVerDig/NiVerDig/NkDigTimer.aps
/src/NkComPort/.vs/NkComPortV17
/src/NkComPort/NkComPort/x64
/src/NkComPort/NkComPort/NkComPortV17.vcxproj.user
/src/x64/Debug
/src/x64/Release
/src/NiVerDig/msi
*.wixobj
/src/NiVerDig/wix/obj/res_files.wxs
/src/NiVerDig/wix/ProductVersion.wxi
/src/NiVerDig/x64/Release
/src/NkComPort/NkComPortCon/x64/Release
/src/NkComPort/x64/Release
/src/NiVerDig/wix/ProductVersion.wxi
/src/NiVerDig/x64/Debug/res/Arm.png
/src/NiVerDig/x64/Debug/res
/src/NiVerDig/x64/Debug/NkComPort.pdb
/src/NiVerDig/x64/Debug/NkComPort.lib
/src/NiVerDig/x64/Debug/NkComPort.exp
/src/NiVerDig/x64/Debug/NkComPort.dll
/src/NiVerDig/x64/Debug/NiVerDig.pdb
/src/NiVerDig/x64/Debug/NiVerDig.exe
/src/NiVerDig/wix/ProductVersion.wxi
/src/NiVerDig/wix/ProductVersion.wxi
/src/NiVerDig/wix/ProductVersion.wxi
